<div class="footer">

  <!-- Credits Bar-->
  <div class="footer__credits-bar">
    <div class="container">
      <div class="row d-md-flex justify-content-md-between">
        <div>© 2002-2018 themexpert Inc. All rights reserved.</div>
        <ul class=" bd-highlight footer__list-credits">
          <li><a href="#">About</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Payments section -->
  <div class="footer__payments-section p-5">
    <div class="container">
      <div class="row d-md-flex justify-content-md-between ">
        <div class="col-md-5 footer__payments-section-text">
          <p>
            All other trademarks and copyrights are the property of their respective holders.
          </p>
          <img src="../../assets/images/accredited.png" alt="">
        </div>
        <div class="col-md-5">

          <img src="../../assets/images/paymets.jpg" class="w-100" alt="">
        </div>
      </div>

    </div>
  </div>
</div>

