<div class="top-bar ">
  <div class="container">
    <ul class="top-bar__info-items clearfix">
      <li class="top-bar__info-item"><a href="#" class="top-bar__info-item-link">Have any question?</a></li>
      <li class="top-bar__info-item"><a href="#" class="top-bar__info-item-link">infinity@gmail.com</a></li>
      <li class="top-bar__info-item"><a href="#" class="top-bar__info-item-link">+080 0444 333 444</a></li>
      <li class="top-bar__info-item--tool"><a href="#" class="top-bar__info-item-link">Wishlist</a></li>
      <li class="top-bar__info-item--tool"><a href="#" class="top-bar__info-item-link">My Account</a></li>
      <li class="top-bar__info-item--tool"><a href="#" class="top-bar__info-item-link"><img class="top-bar__info-item-icon" src="../../../assets/images/icon-usa.png" alt="USA icon"> English</a></li>
    </ul>
  </div>
</div>
