<nav class="navbar navbar-expand-lg bg-white  navbar-menu sticky-top">
<div class="container">

  <a class="navbar-brand navbar-menu__brand-text" href="#"><img src="../../../assets/images/logo.png" class="zindex-dropdown" alt="Logo" width="40"> JOOMHOST</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <div class="navbar-toggler-icon navbar-menu__icon-mobile">
      <span></span>
    </div>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navbar-menu__items">
      <li class="nav-item navbar-menu__item">
        <a class="nav-link navbar-menu__item-link" href="#">Home</a>
      </li>
      <li class="nav-item navbar-menu__item">
        <a class="nav-link navbar-menu__item-link" href="#">About us</a>
      </li>
      <li class="nav-item navbar-menu__item">
        <a class="nav-link navbar-menu__item-link" href="#">WHMCS-Bridge</a>
      </li>
      <li class="nav-item navbar-menu__item">
        <a class="nav-link navbar-menu__item-link" href="#">Hosting</a>
        <div class="w-100 navbar-menu__item-sub-menu">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <ul>
                  <li>Sub-Menu</li>
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
                  <li><a href="#">Item 4</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li>Sub-Menu</li>
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
                  <li><a href="#">Item 4</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li>Sub-Menu</li>
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
                  <li><a href="#">Item 4</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li>Sub-Menu</li>
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
                  <li><a href="#">Item 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item navbar-menu__item">
        <a class="nav-link navbar-menu__item-link" href="#">Pages</a>
        <div class="w-100 navbar-menu__item-sub-menu">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <ul>
                  <li>Sub-Menu</li>
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
                  <li><a href="#">Item 4</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li>Sub-Menu</li>
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
                  <li><a href="#">Item 4</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li>Sub-Menu</li>
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
                  <li><a href="#">Item 4</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li>Sub-Menu</li>
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
                  <li><a href="#">Item 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item navbar-menu__item">
        <a class="nav-link navbar-menu__item-link" href="#">Blog</a>
      </li>
      <li class="nav-item navbar-menu__item">
        <a class="nav-link navbar-menu__item-link" href="#">Contact us</a>
      </li>
    </ul>
  </div>

</div>
</nav>
