<div class="container position-absolute bg-white main-box-counter">
  <div class="row main-box-counter__container p-2 p-md-5">

    <div class="col-12">
      <input type="text" class="form-control main-box-counter__input" placeholder="Find your perfect domain name" >
      <button class="btn btn-primary main-box-counter__button" type="button">Search Domain</button>
    </div>
    <div class="col-12">
      <ul class="main-box-counter__list-prices">
        <li class="main-box-counter__list-li">.com $12.17</li>
        <li class="main-box-counter__list-li">.asia $5.17</li>
        <li class="main-box-counter__list-li">.online $5.17</li>
        <li class="main-box-counter__list-li">.me $3.49</li>
        <li class="main-box-counter__list-li">.cn $6.99</li>
        <li class="main-box-counter__list-li">*All prices per annul</li>
      </ul>
    </div>
  </div>
</div>
<div style="margin-bottom: calc(210px - 5%)">
</div>
