<div class="tab">
  <div class="container">
    <div class="row tab__icons-container">
      <div class="col-12 col-md-4">
        <img src="../../../assets/images/tab-icon-3.png" class="tab__icon-img" alt="">
        <h3 class="tab__text-h3">Unlimited Trafic</h3>
      </div>
      <div class="col-12 col-md-4 ">
        <img src="../../../assets/images/tab-icon-2.png" class="tab__icon-img" alt="">
        <h3 class="tab__text-h3">High Level Security</h3>
      </div>
      <div class="col-12 col-md-4 ">
        <img src="../../../assets/images/tab-icon-1.png" class="tab__icon-img" alt="">
        <h3 class="tab__text-h3">Backup Available</h3>
      </div>
    </div>
    <div class="row tab__info-container">
      <div class="col-md-7 tab__info-container-text">
        <h1><span>Get Started!</span> Today's Offers</h1>
        <p>SEO WP built using Live Composer — a front-end page builder for <span
          class="tab__info-container-text-span--red">WordPress.</span> Live Composer is a
          new generation
          of the <span class="tab__info-container-text-span--red">visual editors</span> for your website. Using simple drag and drop interface you can create any page layout.
          <span class="tab__info-container-text-span--green">No coding skills required.</span> We are proud to be part of the Live Composer family contributing to its success
          among digital marketers and web designers.</p>
        <div class="row">
          <div class="col tab__info-container-text-option"><i class="fa fa-check-circle"></i> Unlimited Disk Space</div>
          <div class="col tab__info-container-text-option"><i class="fa fa-check-circle"></i> Free Domain Registration
          </div>
        </div>
        <div class="row">
          <div class="col tab__info-container-text-option"><i class="fa fa-check-circle"></i> Unlimited Domains</div>
          <div class="col tab__info-container-text-option"><i class="fa fa-check-circle"></i> 99.99% Uptime Guarantee
          </div>
        </div>
        <h2>Starts at <span>$9.99</span>/month</h2>
      </div>
      <div class="col-md-5 tab__info-img-container">
        <div class="tab__info-img">
          <img src="../../../assets/images/img-tab1.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
