<div class="pricing">
  <div class="container">
    <div class="row pricing__info-text">
      <h1>Pay for what you <span>actually</span> use. No hidden charge!</h1>
      <p>
        SEO WP built using Live Composer — a front-end page builder for
        <span class="pricing__info-text--red">WordPress.</span> Live Composer is a new generation
        of the <span class="pricing__info-text--red">visual editors</span> for your website. Using simple drag and drop
        interface you can create any page layout.
        <span class="pricing__info-text--green">No coding skills required</span>
      </p>
    </div>

    <div class="row pricing__pricing-boxes d-flex justify-content-between">
      <div class="pricing__pricing-box">
        <div class="pricing__pricing-box-price">
          <h1>€190/mo</h1>
        </div>
        <div class="pricing__pricing-box-img mt-2 d-flex justify-content-center">
          <img src="../../../assets/images/icon-pricing1.png" alt="">
        </div>
        <div class="pricing__info-box">
          <h3>Personal</h3>
          <p>I think your best bet would be to start or join a startup.
            That’s been a reliable way to get rich for hundreds of years.</p>
          <ul>
            <li>10GB Space</li>
            <li>1 Free Domain</li>
            <li>300GB SSD Disk</li>
            <li>Custom domain</li>
          </ul>
        </div>
        <button class="btn btn-primary btn-block pricing__btn">
          Get Started Now
        </button>
      </div>
      <div class="pricing__pricing-box">
          <div class="pricing__pricing-box-price">
            <h1>€499/mo</h1>
          </div>
        <div class="pricing__pricing-box-img mt-2 d-flex justify-content-center">
          <img src="../../../assets/images/icon-pricing2.png" alt="">
        </div>
        <div class="pricing__info-box">
          <h3>Enterprise</h3>
          <p>I think your best bet would be to start or join a startup.
            That’s been a reliable way to get rich for hundreds of years.</p>
          <ul>
            <li>10GB Space</li>
            <li>1 Free Domain</li>
            <li>300GB SSD Disk</li>
            <li>Custom domain</li>
          </ul>
        </div>
        <button class="btn btn-primary btn-block pricing__btn">
          Get Started Now
        </button>
      </div>
      <div class="pricing__pricing-box">
        <div class="pricing__pricing-box-price">
          <h1>€999/mo</h1>
        </div>
        <div class="pricing__pricing-box-img mt-2 d-flex justify-content-center">
          <img src="../../../assets/images/icon-pricing3.png" alt="">
        </div>
        <div class="pricing__info-box">
          <h3>Business</h3>
          <p>I think your best bet would be to start or join a startup.
            That’s been a reliable way to get rich for hundreds of years.</p>
          <ul>
            <li>10GB Space</li>
            <li>1 Free Domain</li>
            <li>300GB SSD Disk</li>
            <li>Custom domain</li>
          </ul>
        </div>
        <button class="btn btn-primary btn-block pricing__btn">
          Get Started Now
        </button>
      </div>
    </div>
  </div>
</div>
