<ngb-carousel class="slider" [showNavigationArrows]="false" [showNavigationIndicators]="false">
  <ng-template ngbSlide class="slider__item">
    <div class="picsum-img-wrapper slider__item-content">
      <div class="container slider__item-container-info position-relative">
        <div class="row">
          <div class="col-12 col-md-7" style="z-index: 1">
            <span class="slider__item-simple-text">Simple - Easy to use - 10x faster!</span>
            <h1 class="slider__item-h1">The best web hosting</h1>
            <h3 class="slider__item-h3">Starting at $7.99 $3.95/month*</h3>
            <span class="slider__item-simple-text">
            Enter your website to see how we can help your business grow...<br>
          </span>

            <ul class="slider__item-list">
              <li><i class="fa fa-check-square slider__item-list-icon"></i> FREE Domain</li>
              <li><i class="fa fa-check-square slider__item-list-icon"></i> FREE Site Builders</li>
              <li>
                <i class="fa fa-check-square slider__item-list-icon"></i>
                1-Click <i class="fab fa-wordpress-simple slider__item-list-icon"></i>
                WordPress Install
              </li>
              <li><i class="fa fa-check-square slider__item-list-icon"></i> 24/7 Support</li>
            </ul>

            <button class="btn btn-outline-light slider__item-btn">GET STARTED NOW!</button>
            <br>
            <span class="slider__item-simple-text">
            *Special intro offer and 30-day money-back guarantee
          </span>
          </div>
          <div class="col-5 slider__item-img-container">
            <img class="slider__item-img--first" src="../../assets/images/slider/circle-price.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
