<div class="testimonial">
  <div class="container">
    <div class="testimonial__title-box">
      <h2>What <span>People</span> Say About Us</h2>
    </div>

    <div class="row testimonial__container-cards d-flex justify-content-between">
      <div class="col-12 col-md-5 d-flex bd-highlight testimonial__card">
        <div class="d-none d-md-flex align-items-center col-md-4 h-100">
            <img src="../../../assets/images/default-user.png" alt="">
        </div>
        <div class="col-12 col-md-8">
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don't look even slightly believable.
          </p>
          <div class="testimonial__card-author">
            <span>John Doe </span>- Manager @ Brandlo
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 d-flex bd-highlight testimonial__card">
        <div class="d-none d-md-flex align-items-center col-md-4 h-100">
          <img src="../../../assets/images/default-user.png" alt="">
        </div>
        <div class="col-12 col-md-8">
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don't look even slightly believable.
          </p>
          <div class="testimonial__card-author">
            <span>Maria Lopez </span>- Manager @ Canon
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
