<div class="container features">
  <div class="row">
    <div class="col-12 col-md-6 features__list-box-left">
      <div class="col-2 features__list-box-left-icons">
        <div class="row h-25">

        </div>
        <div class="row h-25 p-3 ">
          <img src="../../../assets/images/icon-content-1.png" height="33" alt="">
        </div>
        <div class="row h-25 p-3 ">
          <img src="../../../assets/images/icon-content-2.png" height="33"  alt="">
        </div>
        <div class="row h-25 p-3 ">
          <img src="../../../assets/images/icon-content-3.png" height="33"  alt="">
        </div>
      </div>

      <div class="col-10 features__list-box-left-info">
        <div class="row h-25 mb-4">
          <h1 class="features__text-h1">We offer awesome services</h1>
        </div>
        <div class="row h-25">
          <h3 class="features__text-h3">So Easy to Manage</h3>
          <p class="features__text-p">
            Keywords are the search terms that people into search engines.
            Your rankings are based on the relevance of your page to those keywords
          </p>
        </div>
        <div class="row h-25">
          <h3 class="features__text-h3">Secure Your Website</h3>
          <p class="features__text-p">
            Keywords are the search terms that people into search engines.
            Your rankings are based on the relevance of your page to those keywords.
          </p>
        </div>
        <div class="row h-25">
          <h3 class="features__text-h3">24/7 Customer Support</h3>
          <p class="features__text-p">
            Keywords are the search terms that people into search engines. Your rankings are based on the relevance of your page to those keywords.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 features__info-box-right p-5">
      <h1 class="features__text-h1">
        <span class="features__text-span--blue">Lots of hosting</span> services.
        <br>
        Why you should choose us?
      </h1>
      <br>
      <p class="features__text-paragraph">
        You can take a look at the back-end admin panel interface from this YouTube Video Tutorial:
       <span class="features__text-span--blue">youtu.be/Bs9Irmrt220.</span>  In this video,
        you will get a hint about how easy to customize everything of your pages using our Shortcodes,
        and the Drag and Drop functionality.
      </p>
    </div>
  </div>
</div>
