/* You can add global styles to this file, and also import other style files */
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

// Fonts variables
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', serif;
$openSans: 'Open Sans', serif;
$fontColor: #2f3f54;

$boxShadow: 0px 0px 26px 0px rgba(0,0,0,0.10);
$boxShadow-35: 0px 0px 26px 0px rgba(0,0,0,0.35);
